.cardWrapper
    background: rgb(61,242,191)
    background: linear-gradient(157deg, rgba(61,242,191,1) 0%, rgba(28,190,237,1) 25%, rgba(16,144,240,1) 50%, rgba(17,58,189,1) 75%, rgba(85,3,217,1) 100%)
    color: #fff
    display: flex
    flex-direction: column
    font-size: 22px
    min-width: 250px
    max-width: 350px
    max-height: 400px
    padding: 20px
    border: 3px solid #9a9a9a
    border-radius: 8px
    margin: 30px
    .cookBy
        margin: 0 auto
        .cookByImage
            width: 100px
            height: 100px
    .nameFood
        text-transform: uppercase
        font-weight: 700
        font-size: 26px
        margin: 0 auto
    .difficulty
        color: #fff
        &::after
            content: '☆'
            font-size: 26px
            color: yellow
    .timeCook
        margin-bottom: 7px
    .price
        margin-bottom: 10px
    .ingredients
        font-weight: 500
        overflow: auto
        scroll-behavior: smooth
        background: linear-gradient(157deg, rgba(61,242,191,1) 0%, rgba(28,190,237,1) 25%, rgba(16,144,240,1) 50%, rgba(17,58,189,1) 90%, rgba(85,3,217,1) 100%)
        border-radius: 8px
        padding-bottom: 10px
        .ingredientsTitle
            padding: 5px 10px