.input_block {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}

.input {
    width: 100%;
    padding: 7px 0;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 2px solid var(--border-color);
}

.label {
    position: absolute;
    top: 12px;
    display: block;
    transition: 0.3s;
    color: var(--text-color);
}

.input:focus {
    ~ .label {
        position: absolute;
        top: -10px;
        display: block;
    }
    padding-bottom: 8px;
    border-bottom: 2px solid navy;
    transition: border-color ease-in-out 0.6s;
}

.input:not(:placeholder-shown) ~ .label {
    top: -10px;
    // font-size: 12px;
    color: var(--inverted-bg-color);
}
