.app.dark {
    --bg-color: #2b2d42;
    --inverted-bg-color: #8d99ae;

    --primary-color: #ffafcc;
    --secondary-color: #bde0fe;

    --accent-color: #ffb4a2;
    --text-color: #2d254b;
    --border-color: #6c757d;
    --skeleton-color: #6c757d;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
