.app.light {
    --bg-color: #f8f4f1;
    --inverted-bg-color: #d8c3a5;

    --primary-color: #ffcad4;
    --secondary-color: #c7d8c6;

    --accent-color: #ffb7b2;
    --text-color: #4f5d75;
    --border-color: #e4d7c5;
    --skeleton-color: #e4d7c5;
    --skeleton-shadow: rgba(0 0 0 / 20%);
}
